<h1><%= @group.name %></h1>

<p>
  <%= @group.description %>
</p>

<hr />

<h3>Miembros</h3>

<div>
	<table class="table table-bordered">
	  <thead>
	    <tr>
	      <th>Miembro</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody id="group_members">
	    <%= render :partial => 'group_member', :collection => @group_members %>
	  </tbody>
	</table>
</div>

<%= link_to 'Editar', edit_group_path(@group), :class => "btn btn-default" %>
<%= link_to 'Volver', groups_path, :class => "btn btn-default" %>
