<h1>Miembros</h1>

<hr />

<div>
  <%= form_for :data, :class => "form-inline", :method => "GET" do |f| %>
    <div class="field form-group">
      <% search_value = params[:data][:search] rescue "" %>
      <%= f.text_field :search, :value => search_value, :class => 'form-control', :placeholder => 'Buscar' %>
      <% selected_option = params[:data][:kind].to_i rescue 0 %>
      <%= f.select :kind,  [["Todo", 0], ["Nombre", 1], ["Email", 2], ["Campus", 3], ["Discipulador", 4], ["Grupo pequeño", 5], ["Ministerios", 6]], {:selected => selected_option}, :class => 'form-control'  %>
    </div>
    
    <div class="actions right">
      <%= f.submit "Buscar", :class => "btn btn-default" %>
    </div>
  <% end %>
</div>

<hr />

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Fecha de nacimiento</th>
      <th>Estado civil</th>
      <th>Campus</th>
      <th>Nivel de discipulado</th>
      <th>Nombre de discipulador</th>
      <th>Grupo pequeño</th>
      <th>Lider de grupo pequeño</th>
      <th>Ministerios</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.fullname, edit_member_path(member) %></td>
        <td><%= member.businessphone %></td>
        <td><%= member.workemailaddress %></td>
        <td><%= member.fecha_de_nacimiento %></td>
        <td><%= member.estado_civil %></td>
        <td><%= member.campus_al_que_asiste %></td>
        <td><%= member.nivel_de_discipulado %></td>
        <td><%= member.nombre_de_discipulador %></td>
        <td><%= member.grupo_pequeo_al_que_asiste %></td>
        <td><%= member.ler_de_grupo_pequeo %></td>
        <td><%= member.ministerios_en_los_que_sirve %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @members %>

<br>

<%= link_to 'Nuevo miembro', new_member_path, :class => "btn btn-default" %>
