<p id="notice"><%= notice %></p>

<p>
  <strong>Salutation:</strong>
  <%= @member.salutation %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @member.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @member.lastname %>
</p>

<p>
  <strong>Organisation:</strong>
  <%= @member.organisation %>
</p>

<p>
  <strong>Role:</strong>
  <%= @member.role %>
</p>

<p>
  <strong>Background:</strong>
  <%= @member.background %>
</p>

<p>
  <strong>Businessstreet:</strong>
  <%= @member.businessstreet %>
</p>

<p>
  <strong>Businesscity:</strong>
  <%= @member.businesscity %>
</p>

<p>
  <strong>Businessstate:</strong>
  <%= @member.businessstate %>
</p>

<p>
  <strong>Businesspostalcode:</strong>
  <%= @member.businesspostalcode %>
</p>

<p>
  <strong>Businesscountry:</strong>
  <%= @member.businesscountry %>
</p>

<p>
  <strong>Homestreet:</strong>
  <%= @member.homestreet %>
</p>

<p>
  <strong>Homecity:</strong>
  <%= @member.homecity %>
</p>

<p>
  <strong>Homestate:</strong>
  <%= @member.homestate %>
</p>

<p>
  <strong>Homepostalcode:</strong>
  <%= @member.homepostalcode %>
</p>

<p>
  <strong>Homecountry:</strong>
  <%= @member.homecountry %>
</p>

<p>
  <strong>Otherstreet:</strong>
  <%= @member.otherstreet %>
</p>

<p>
  <strong>Othercity:</strong>
  <%= @member.othercity %>
</p>

<p>
  <strong>Otherstate:</strong>
  <%= @member.otherstate %>
</p>

<p>
  <strong>Otherpostalcode:</strong>
  <%= @member.otherpostalcode %>
</p>

<p>
  <strong>Othercountry:</strong>
  <%= @member.othercountry %>
</p>

<p>
  <strong>Postalstreet:</strong>
  <%= @member.postalstreet %>
</p>

<p>
  <strong>Postalcity:</strong>
  <%= @member.postalcity %>
</p>

<p>
  <strong>Postalstate:</strong>
  <%= @member.postalstate %>
</p>

<p>
  <strong>Postalpostalcode:</strong>
  <%= @member.postalpostalcode %>
</p>

<p>
  <strong>Postalcountry:</strong>
  <%= @member.postalcountry %>
</p>

<p>
  <strong>Businessphone:</strong>
  <%= @member.businessphone %>
</p>

<p>
  <strong>Businessphone2:</strong>
  <%= @member.businessphone2 %>
</p>

<p>
  <strong>Businessfax:</strong>
  <%= @member.businessfax %>
</p>

<p>
  <strong>Homephone:</strong>
  <%= @member.homephone %>
</p>

<p>
  <strong>Homephone2:</strong>
  <%= @member.homephone2 %>
</p>

<p>
  <strong>Mobilephone:</strong>
  <%= @member.mobilephone %>
</p>

<p>
  <strong>Otherphone:</strong>
  <%= @member.otherphone %>
</p>

<p>
  <strong>Pagerphone:</strong>
  <%= @member.pagerphone %>
</p>

<p>
  <strong>Skypephone:</strong>
  <%= @member.skypephone %>
</p>

<p>
  <strong>Sipphone:</strong>
  <%= @member.sipphone %>
</p>

<p>
  <strong>Workemailaddress:</strong>
  <%= @member.workemailaddress %>
</p>

<p>
  <strong>Personalemailaddress:</strong>
  <%= @member.personalemailaddress %>
</p>

<p>
  <strong>Otheremailaddress:</strong>
  <%= @member.otheremailaddress %>
</p>

<p>
  <strong>Workwebsite:</strong>
  <%= @member.workwebsite %>
</p>

<p>
  <strong>Personalwebsite:</strong>
  <%= @member.personalwebsite %>
</p>

<p>
  <strong>Blogwebsite:</strong>
  <%= @member.blogwebsite %>
</p>

<p>
  <strong>Otherwebsite:</strong>
  <%= @member.otherwebsite %>
</p>

<p>
  <strong>Importantdate1name:</strong>
  <%= @member.importantdate1name %>
</p>

<p>
  <strong>Importantdate1:</strong>
  <%= @member.importantdate1 %>
</p>

<p>
  <strong>Importantdate2name:</strong>
  <%= @member.importantdate2name %>
</p>

<p>
  <strong>Importantdate2:</strong>
  <%= @member.importantdate2 %>
</p>

<p>
  <strong>Importantdate3name:</strong>
  <%= @member.importantdate3name %>
</p>

<p>
  <strong>Importantdate3:</strong>
  <%= @member.importantdate3 %>
</p>

<p>
  <strong>Contacttag1:</strong>
  <%= @member.contacttag1 %>
</p>

<p>
  <strong>Contacttag2:</strong>
  <%= @member.contacttag2 %>
</p>

<p>
  <strong>Contacttag3:</strong>
  <%= @member.contacttag3 %>
</p>

<p>
  <strong>Contacttag4:</strong>
  <%= @member.contacttag4 %>
</p>

<p>
  <strong>Contacttag5:</strong>
  <%= @member.contacttag5 %>
</p>

<p>
  <strong>Contacttag6:</strong>
  <%= @member.contacttag6 %>
</p>

<p>
  <strong>Contacttag7:</strong>
  <%= @member.contacttag7 %>
</p>

<p>
  <strong>Contacttag8:</strong>
  <%= @member.contacttag8 %>
</p>

<p>
  <strong>Contacttag9:</strong>
  <%= @member.contacttag9 %>
</p>

<p>
  <strong>Datecreated:</strong>
  <%= @member.datecreated %>
</p>

<p>
  <strong>Dateupdated:</strong>
  <%= @member.dateupdated %>
</p>

<p>
  <strong>Linkedorganizationpostalstreet:</strong>
  <%= @member.linkedorganizationpostalstreet %>
</p>

<p>
  <strong>Linkedorganizationpostalcity:</strong>
  <%= @member.linkedorganizationpostalcity %>
</p>

<p>
  <strong>Linkedorganizationpostalstate:</strong>
  <%= @member.linkedorganizationpostalstate %>
</p>

<p>
  <strong>Linkedorganizationpostalcode:</strong>
  <%= @member.linkedorganizationpostalcode %>
</p>

<p>
  <strong>Linkedorganizationpostalcountry:</strong>
  <%= @member.linkedorganizationpostalcountry %>
</p>

<p>
  <strong>Linkedorganizationbusinessstreet:</strong>
  <%= @member.linkedorganizationbusinessstreet %>
</p>

<p>
  <strong>Linkedorganizationbusinesscity:</strong>
  <%= @member.linkedorganizationbusinesscity %>
</p>

<p>
  <strong>Linkedorganizationbusinessstate:</strong>
  <%= @member.linkedorganizationbusinessstate %>
</p>

<p>
  <strong>Linkedorganizationbusinesspostalcode:</strong>
  <%= @member.linkedorganizationbusinesspostalcode %>
</p>

<p>
  <strong>Linkedorganizationbusinesscountry:</strong>
  <%= @member.linkedorganizationbusinesscountry %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @member.fecha_de_nacimiento %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @member.estado_civil %>
</p>

<p>
  <strong>Campus al que asiste:</strong>
  <%= @member.campus_al_que_asiste %>
</p>

<p>
  <strong>Es:</strong>
  <%= @member.es %>
</p>

<p>
  <strong>Nivel de discipulado:</strong>
  <%= @member.nivel_de_discipulado %>
</p>

<p>
  <strong>Nombre de discipulador:</strong>
  <%= @member.nombre_de_discipulador %>
</p>

<p>
  <strong>Grupo pequeo al que asiste:</strong>
  <%= @member.grupo_pequeo_al_que_asiste %>
</p>

<p>
  <strong>Ler de grupo pequeo:</strong>
  <%= @member.ler_de_grupo_pequeo %>
</p>

<p>
  <strong>Ministerios en los que sirve:</strong>
  <%= @member.ministerios_en_los_que_sirve %>
</p>

<p>
  <strong>Talentos:</strong>
  <%= @member.talentos %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
